[meta] 
    title = "BADC CLIMAT"
    description = "Runs the extraction of CLIMAT data from MetDB for transmission to BADC."
    URL = https://metnet2.metoffice.gov.uk/content/metdb-provision-data-badc-using-cylc-mdb-apps
    group = "BADC"
[scheduling] 
    initial cycle point = 20190124T0630
    [[special tasks]]
        clock-trigger = normal(PT0M)
    [[dependencies]] 
        [[[T0630]]]
            graph = """
            # regular dependencies
            normal:ok_data => ftp
 
            # suicide triggers
            normal:no_data_but_late => !ftp
            """
[runtime] 
    [[root]]
        [[[environment]]]
            DTYPE = CLIMAT
            SCRIPTS = /var/moods/BADC/scripts
        %include /var/moods/BADC/include/job.config
    [[normal]] 
        script = $SCRIPTS/retclm.sh
        [[[outputs]]]
            no_data_but_late = "NO_DATA_BUT_LATE"
            ok_data = "OK_DATA"
    [[ftp]] 
        script = $SCRIPTS/ftp.sh
