[meta] 
    title = "BADC LNDSYN"
    description = "Runs the extraction of LNDSYN data from MetDB for transmission to BADC."
    URL = https://metnet2.metoffice.gov.uk/content/metdb-provision-data-badc-using-cylc-mdb-apps
    group = "BADC"
[scheduling] 
    initial cycle point = next(T0230; T0830; T1430; T2030)
    [[special tasks]]
        clock-trigger = cntlchk(PT0M)
    [[dependencies]] 
        [[[T0230, T0830, T1430, T2030]]]
            graph = """
            cntlchk => catchup => normal => ftp
            """
[runtime] 
    [[root]]
        [[[environment]]]
            DTYPE = LNDSYN
            SCRIPTS = /var/moods/BADC/scripts
        %include /var/moods/BADC/include/job.config
    [[cntlchk]] 
        script = $SCRIPTS/cntlchk.sh
    [[catchup]] 
        script = $SCRIPTS/retbadc.sh CATCHUP
    [[normal]] 
        script = $SCRIPTS/retbadc.sh
        # turn off retries for this job as it updates control file...
        [[[job]]]
            execution retry delays = 
    [[ftp]] 
        script = $SCRIPTS/ftp.sh
