<!DOCTYPE html>
<html>
<head>
  <title>MetDB stats for non-BUFR datatypes</title>
  <!--Bootstrap core CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <style>
  /* Popover */
  .popover {
    max-width:600px;
  }
  </style>

</head>
<body>
  <div class="container">
  <h2>MetDB stats for {{server}} non-BUFR datatypes (run at {{runtime}})</h2>
<div class="row">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-3">
  </div>
  <div class="col-xs-3">
    <div><a class="btn btn-success btn-lg btn-block" href={{yesterdays_page}} role="button">This page yesterday</a></div>
  </div>
  <div class="col-xs-3">
    <div><a class="btn btn-info btn-lg btn-block" href={{archive_url}} role="button">Archive of this page</a></div>
  </div>
</div> <!-- /.row -->

<hr>
  <h3>MONITOR.errorlog <small>(current)</small></h3>
  <div class="row">
    <div class="col-xs-12"><pre>{{monitor_errorlog}} </pre></div>
  </div>

<hr>

{% for section in sections %}
  <h3>{{section.title}} <small>({{section.freq}})</small></h3>
  <div class="row">
    <div class="col-xs-2">
      <h4 class="text-right"><small>Jobs started on:</small></h4>
    </div>
  {% for date in section.dates %}
    <div class="col-xs-2">
      <h4 class="text-center">{{date}}</h4>
    </div>
  {% endfor %}
  {% for job in section.jobs %}
    <div class="col-xs-2">
      <div><a class="btn btn-block btn-default" href=http://{{server_url}}/cgi-bin/moods/listlogdir.pl?baselogdir=/var/moods/logs&jobname={{job.job_name}} role="button">{{job.job_name}}</a></div>
    </div>
    {% for result in job.results %}
      <div class="col-xs-2">
        <div class="btn btn-block bg-{{result.job_status}}" role="button"><span title="{{result.popover_title}}" data-html="true" data-toggle="popover" data-placement="right" data-content="<pre>{{result.popover_text}}</pre>">{{result.job_text}}</span></div>
      </div>
    {% endfor %}
  {% endfor %}
  </div>
  <hr>
{% endfor %}

<p  class="text-center">Created by script {{creator}} running as user {{runner}} on {{where}}</p>
</div> <!-- /.container -->

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>

</body>
</html>
