<!DOCTYPE html>
<html>
<head>
  <title>MetDB Retrieval Statistics by Datatype for {{month}} {{year}}</title>
  <!--Bootstrap core CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!--Sorttable library from http://www.kryogenix.org/code/browser/sorttable/sorttable.js -->
  <script type="text/javascript" src="/common/sorttable.js"></script>
  <style type="text/css">
    table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
    }
  </style>	
</head>

<body>
  <div class="container">
    <h2>MetDB Retrieval Statistics by Datatype for {{month}} {{year}}</h2>
    <div class="row">
      <div class="col-xs-3">
        <div><a class="btn btn-danger btn-lg btn-block" href=/mdb_activity/data_access_logs role="button">Log browser</a></div>
      </div>
      <div class="col-xs-3">
      </div>
      <div class="col-xs-3">
        <div><a class="btn btn-success btn-lg btn-block" href=/mdb_activity/monthly_datatype_retrievals_archive/{{last_months_page}} role="button">This page last month</a></div>
      </div>
      <div class="col-xs-3">
        <div><a class="btn btn-info btn-lg btn-block" href=/mdb_activity/monthly_datatype_retrievals_archive role="button">Archive of this page</a></div>
      </div>
    </div> <!-- /.row -->
    
    <hr>

    <h3>Retrieval Requests by Datatype and Server</h3>
    <table class="table table-bordered sortable">
      <thead>
        <tr>
          <th>Dataype</th>
          <th style="text-align:center">Valid?</th>
          {% for server in servers %}
          <th style="text-align:center">{{server}}</th>
          {% endfor %}
          <th style="text-align:right">Total Requests</th>
        </tr>
      </thead>
      <tbody>
        {% for key, values in by_datatype.items() %}
        <tr>
          <td>{{key}}</td>
          <td style="text-align:center">{{values[0]}}</td>
          {% for count in values[1] %}
          <td style="text-align:right">{{count}}</td>
          {% endfor %}
        {% endfor %}
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><b>TOTALS</b></td>
          <td style="text-align:center"><b>{{invalid_count}}</b></td>
          {% for total in overall_totals %}
          <td style="text-align:right"><b>{{total}}</b></td>
          {% endfor %}
        </tr>
      </tfoot>
    </table>

    <h3>Datatypes Never Retrieved</h3>          
    <p><em>NB this is a list of datatypes that have not been retrieved during this month.</em></p>          
    <p>{{not_requested}}</p>
    <!-- {% for dtype in not_requested %}
      {{dtype}}
    {% endfor %} -->

    <hr>

    <p  class="text-center">Created by script {{creator}} running as user {{runner}} on {{where}} at {{runtime}}.</p>
  </div> <!-- /.container -->
</body>
</html>