[meta] 
    title = "BADC WINPRO"
    description = "Runs the extraction of WINPRO data from MetDB for transmission to BADC."
    URL = https://metnet2.metoffice.gov.uk/content/metdb-provision-data-badc-using-cylc-mdb-apps
    group = "BADC"
[scheduling] 
    initial cycle point = 20181010T1530
    [[special tasks]]
        clock-trigger = cntlchk(PT0M)
    [[dependencies]] 
        [[[T0330, T0930, T1530, T2130]]]
            graph = """
            # regular dependencies
            cntlchk => catchup
            catchup => normal
            normal | cntlchk:sendonly => ftp
            cntlchk:fail | catchup:fail | normal:fail | ftp:fail => errors

            # suicide triggers
            (cntlchk:sendonly & ftp) | (cntlchk & catchup & normal & ftp) => !errors
            cntlchk:fail | cntlchk:sendonly  => !catchup
            cntlchk:fail | cntlchk:sendonly | catchup:fail  => !normal
            cntlchk:fail | catchup:fail | normal:fail => !ftp
            """
[runtime] 
    [[root]]
        [[[environment]]]
            DTYPE = WINPRO
            SCRIPTS = /var/moods/BADC/scripts
    [[cntlchk]] 
        script = $SCRIPTS/cntlchk.sh
        [[[outputs]]]
            sendonly = "SENDONLY"
    [[catchup]] 
        script = $SCRIPTS/retbadc.sh CATCHUP
    [[normal]] 
        script = $SCRIPTS/retbadc.sh
    [[ftp]] 
        script = $SCRIPTS/ftp.sh
    [[errors]] 
        script = $SCRIPTS/errors.sh
