[meta] 
    title = "BADC WINPRO"
    description = "Runs the extraction of WINPRO data from MetDB for transmission to BADC."
    URL = https://metnet2.metoffice.gov.uk/content/metdb-provision-data-badc-using-cylc-mdb-apps
    group = "BADC"
[scheduling] 
    initial cycle point = next(T0330; T0930; T1530; T2130)
    [[special tasks]]
        clock-trigger = cntlchk(PT0M)
    [[dependencies]] 
        [[[T0330, T0930, T1530, T2130]]]
            graph = """
            cntlchk => catchup => normal => ftp
            """
[runtime] 
    [[root]]
        [[[environment]]]
            DTYPE = WINPRO
            SCRIPTS = /var/moods/BADC/scripts
        %include /var/moods/BADC/include/job.config
    [[cntlchk]] 
        script = $SCRIPTS/cntlchk.sh
    [[catchup]] 
        script = $SCRIPTS/retbadc.sh CATCHUP
    [[normal]] 
        script = $SCRIPTS/retbadc.sh
        # turn off retries for this job as it updates control file...
        [[[job]]]
            execution retry delays = 
    [[ftp]] 
        script = $SCRIPTS/ftp.sh
