[meta] 
    title = "BADC PILOT"
    description = "Runs the extraction of PILOT data from MetDB for transmission to BADC."
    URL = https://metnet2.metoffice.gov.uk/content/metdb-provision-data-badc-using-cylc-mdb-apps
    group = "BADC"
[scheduling] 
    initial cycle point = 20180820T1530
    [[special tasks]]
        clock-trigger = cntlchk(PT0M)
    [[dependencies]] 
        [[[T0330, T0930, T1530, T2130]]]
            graph = """cntlchk => catchup => normal
                       cntlchk:sendonly => !catchup & !normal # if sendonly, don't run catchup or normal
                       cntlchk:sendonly | normal => ftp
                       cntlchk:fail | catchup:fail | normal:fail | ftp:fail => errors
                       cntlchk & catchup & normal & ftp => !errors"""
[runtime] 
    [[root]]
        [[[environment]]]
            DTYPE = PILOT
            SCRIPTS = /var/moods/BADC/scripts
    [[cntlchk]] 
        script = $SCRIPTS/cntlchk.sh
        [[[outputs]]]
            sendonly = "SENDONLY"
    [[catchup]] 
        script = $SCRIPTS/retbadc.sh CATCHUP
    [[normal]] 
        script = $SCRIPTS/retbadc.sh
    [[ftp]] 
        script = $SCRIPTS/ftp.sh
    [[errors]] 
        script = $SCRIPTS/errors.sh
