<!DOCTYPE html>
<html>
        <head>
                <title>Web Retrieval (prototype 3)</title>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="description" content="MetDB Retrieval (prototype 2)">
                <meta name="author" content="sheila.needham">

                <!--Bootstrap core CSS -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        </head>
        <body>
                <div class="container">
                   <h2> {{ subtype }} </h2>
                        <table class="table table-bordered" >
                                <tr>
                                {% for t in title %}
                                     <th> {{ t }}</th>
                                {% endfor %}
                                </tr>     

                                {% for o in obs %}

                                <tr>
                                    {% for col in title %}
                                        <td> {{ o[col] }} </td>
                                    {% endfor %}
                                </tr>

                                {% endfor %}
                        </table>

                </div>
                <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        </body>
</html>

