[meta] 
    title = "BADC OZONEPRF"
    description = "Runs the extraction of OZONEPRF data from MetDB for transmission to BADC."
    URL = https://metnet2.metoffice.gov.uk/content/metdb-provision-data-badc-using-cylc-mdb-apps
    group = "BADC"
[scheduling] 
    initial cycle point = next(-W-4T0630Z)  # next Thursday at 0630Z
    [[special tasks]]
        clock-trigger = cntlchk(PT0M)
    [[dependencies]] 
        [[[P1W]]]  # once a week
            graph = """
            cntlchk => catchup => normal => ftp
            """
[runtime] 
    [[root]]
        [[[environment]]]
            DTYPE = OZONEPRF
            SCRIPTS = /var/moods/BADC/scripts
        %include /var/moods/BADC/include/job.config
    [[cntlchk]] 
        script = $SCRIPTS/cntlchk.sh
    [[catchup]] 
        script = $SCRIPTS/retoz.sh CATCHUP
    [[normal]] 
        script = $SCRIPTS/retoz.sh
        # turn off retries for this job as it updates control file...
        [[[job]]]
            execution retry delays = 
    [[ftp]] 
        script = $SCRIPTS/ftp.sh
