[meta] 
    title = "BADC AMDARS"
    description = "Runs the extraction of AMDARS data from MetDB for transmission to BADC."
    URL = https://metnet2.metoffice.gov.uk/content/metdb-provision-data-badc-using-cylc-mdb-apps
    group = "BADC"
[scheduling] 
    initial cycle point = 20190122T1830
    [[special tasks]]
        clock-trigger = cntlchk(PT0M)
    [[dependencies]] 
        [[[T0030, T0630, T1230, T1830]]]
            graph = """
            cntlchk => catchup => normal => ftp
            """
[runtime]
    [[root]]
        [[[job]]]
            execution retry delays = 6*PT10M
        [[[environment]]]
            DTYPE = AMDARS
            SCRIPTS = /var/moods/BADC/scripts 
    [[cntlchk]] 
        script = $SCRIPTS/cntlchk.sh
    [[catchup]] 
        script = $SCRIPTS/retbadc.sh CATCHUP
    [[normal]] 
        script = $SCRIPTS/retbadc.sh
    [[ftp]] 
        script = $SCRIPTS/ftp_test.sh
