[meta] 
    title = "BADC AMDARS"
    description = "Runs the extraction of AMDARS data from MetDB for transmission to BADC."
    URL = https://metnet2.metoffice.gov.uk/content/metdb-provision-data-badc-using-cylc-mdb-apps
    group = "BADC"
[scheduling] 
    initial cycle point = 20181101T1830
    [[special tasks]]
        clock-trigger = cntlchk(PT0M)
    [[dependencies]] 
        [[[T0030, T0630, T1230, T1830]]]
            graph = """
            # regular dependencies
            cntlchk:usual => catchup
            catchup => normal
            normal | cntlchk:sendonly => ftp
            cntlchk:fail | catchup:fail | normal:fail | ftp:fail => errors

            # suicide triggers
            cntlchk:fail | cntlchk:sendonly => !catchup
            cntlchk:fail | cntlchk:sendonly | catchup:fail => !normal
            cntlchk:fail | catchup:fail | normal:fail => !ftp
            ftp => !errors
            """
[runtime]
    [[root]]
        [[[environment]]]
            DTYPE = AMDARS
            SCRIPTS = /var/moods/BADC/scripts 
    [[cntlchk]] 
        script = $SCRIPTS/cntlchk.sh
        [[[outputs]]]
            sendonly = "SENDONLY"
            usual = "USUAL RUN"
    [[catchup]] 
        script = $SCRIPTS/retbadc.sh CATCHUP
    [[normal]] 
        script = $SCRIPTS/retbadc.sh
    [[ftp]] 
        script = $SCRIPTS/ftp.sh
    [[errors]] 
        script = $SCRIPTS/errors.sh
