BASEDIR=/home/sneedham/regressionV2/

SYS1=mdbap-preprod
SYS2=mdbap-preprod
VER1=5.20.0
VER2=5.19.0
WEB1=mdbdb-preprod
WEB2=mdbdb-prod

TESTPLAN=/home/sneedham/regressionV2/TestPlan.txt   
TESTRESULTS=/home/sneedham/regressionV2/TestResults.txt
SCRIPTS=/home/sneedham/regressionV2/runner/scripts/
INDIR=/home/sneedham/regressionV2/runner/input/
BINDIR=/home/sneedham/regressionV2/runner/bin/

WEBROOT=/var/www/html/sheila/regression/
CGIBIN=/var/www/cgi-bin/sheila/regression/
OUTDIR=/var/www/html/sheila/regression/output/
WEBLINK=/mdb-apps-test/sheila/regression/archive
ARCHIVEDIR=/var/www/html/sheila/regression/archive
