[meta] 
    title = "BADC SHPSYN"
    description = "Runs the extraction of SHPSYN data from MetDB for transmission to BADC."
    URL = https://metnet2.metoffice.gov.uk/content/metdb-provision-data-badc-using-cylc-mdb-apps
    group = "BADC"
[scheduling] 
    initial cycle point = 20190123T1930
    [[special tasks]]
        clock-trigger = cntlchk(PT0M)
    [[dependencies]] 
        [[[T0130, T0730, T1330, T1930]]]
            graph = """
            cntlchk => catchup => normal => ftp
            """
[runtime] 
    [[root]]
        [[[environment]]]
            DTYPE = SHPSYN
            SCRIPTS = /var/moods/BADC/scripts
        %include /var/moods/BADC/include/job.config
    [[cntlchk]] 
        script = $SCRIPTS/cntlchk.sh
    [[catchup]] 
        script = $SCRIPTS/retbadc.sh CATCHUP
    [[normal]] 
        script = $SCRIPTS/retbadc.sh
    [[ftp]] 
        script = $SCRIPTS/ftp.sh
